.App {
  text-align: center;
  height: auto;
}

.App-logo {
  // height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "intro";
  /*Can be any text*/
  src: local("calligraffitti"),
    url("./fonts/Calligraffitti-Regular.ttf") format("truetype");
}