.adminpage {
    display: grid;
    grid-template-columns: 50% 50%;


    &__ingallery {
        display: grid;
        grid-template-columns: 8% 25%;
        grid-auto-rows: auto;
        padding: 8px;
        padding-top: 80px !important;


        &__addbtn {
            margin-top: -70px;
            height: 40px;
            margin-right: -700px;

            &__add {
                font-size: 18px;
                font-weight: 300;

            }

            &__img {
                width: 600px;
            }


        }

    }

    &__orders {
        display: grid;

        padding: 32px;
        grid-gap: 8px;
        padding-top: 100px !important;
        height: 750px;
        overflow: scroll;
    }


}