.adminpage {
    display: grid;
    grid-template-columns: 50% 50%;


    &__ingallery {
        display: grid;
        grid-template-columns: 3% 5%;
        grid-auto-rows: 100px 100px;
        padding: 8px;
        padding-top: 80px !important;



        &__addbtn {
            margin-top: -70px;
            height: 40px;
            margin-right: -700px;

            &__add {
                font-size: 18px;
                font-weight: 300;

            }

            &__img {
                width: 600px;
                overflow: scroll;
                height: 900px;
            }


        }

    }

    &__orders {
        display: grid;
        padding-left: 200px;

        padding-top: 100px !important;
        height: 750px;
        overflow: scroll;
    }


}