.homepage {
    display: grid;
    height: auto;
    padding-bottom: 8px;

    &__backgroundimg {
        display: grid;

        &__img {
            height: auto;
            width: 100%;
        }
    }

    &__intro {
        display: grid;
        grid-template-columns: 50% 50%;

        &__image {
            width: auto;
            display: grid;

            &__rhino {
                margin-top: 110px;
                padding-left: 60px;
                height: 360px;
            }


        }

        &__context {
            height: 200px;
            text-align: justify;
            grid-template-columns: 50% 50%;



            &__h5 {
                display: grid;
                padding-left: 150px;
                float: left;
                padding-top: 60px;


                &__context {
                    padding-top: 60px;
                    margin-top: 80px;
                    font-family: "intro";
                    display: grid;
                }
            }
        }

    }

    &__artists {
        display: grid;
        grid-auto-rows: auto;
        width: auto;

        h2 {
            padding-top: 50px;
            margin-left: 50px;
        }

        &__name {
            padding-top: 20px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            height: 200px;

            grid-gap: 32px;
            justify-self: center;
        }

        &__artist {
            padding-top: 10px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            height: 200px;
            grid-gap: 32px;
            justify-self: center;

        }

    }
}