.homepage {
    display: grid;
    height: fit-content;

    &__newfeatureditems {
        padding-left: 350px;
        justify-self: center;
        padding-top: 32px;
        display: grid;
        grid-template-columns: 170px 300px 300px 200px;
        align-items: center;
        text-align: center;
        justify-items: center;
        grid-gap: 8px;

        &__totop {
            margin-top: 700px;
            margin-bottom: -200px;
            margin-left: 50px;
        }

        &__newdiscounts {
            display: grid;
            height: 350px;
            text-align: center;
            justify-items: center;
            align-items: center;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            padding-left: 30px;

            &__h2 {
                font-size: 25px;
                margin-left: -100px;
            }

            &__carousel,
            .carousel {
                grid-gap: 32px;
                margin-right: 100px;
                width: 500px !important;
                height: 380px !important;
            }
        }

        &__vl {
            border-left: 1px solid rgb(0, 0, 0);
            height: 200px;



        }

        &__newlatest {
            display: grid;
            height: 350px;
            text-align: center;
            justify-items: center;
            align-items: center;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;


            &__h2 {
                font-size: 25px;
                margin-left: -100px;
            }

            &__carousel .carousel {
                grid-gap: 32px;
                margin-right: 100px;
                width: 300px !important;
                height: 450px !important;
            }
        }

    }



    &__backgroundimg {
        display: grid;
        background-image: url('../image folder/conservation.jpeg');
        background-repeat: no-repeat;
        background-size: contain;

        &__img {
            height: 500px;
            width: 100%;
        }
    }

    &__intro {
        display: grid;
        padding-top: 270px;
        grid-template-columns: 50% 50%;

        &__image {
            width: auto;
            display: grid;

            &__rhino {
                margin-top: 20px;
                padding-left: 60px;
                height: 400px;
                width: 600px;
            }


        }

        &__context {
            height: 100px;
            text-align: justify;
            grid-template-columns: 50% 50%;



            &__h5 {
                display: grid;
                padding-left: 120px;
                float: left;
                padding-top: 20px;



                &__context {

                    padding-left: 20px;
                    font-family: "intro";
                    display: grid;
                }
            }
        }

    }

    &__artists {
        display: grid;
        grid-auto-rows: auto;
        width: auto;
        background-color: #2D2F33;
        height: 350px;
        margin-top: 60px;

        h2 {

            color: white;

        }

        &__name {

            display: grid;
            grid-template-columns: auto auto auto auto;
            height: 200px;
            grid-gap: 32px;
            justify-self: center;
        }

        &__artist {
            margin-top: -100px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            height: 200px;
            grid-gap: 32px;
            justify-self: center;
        }

    }

    &__featureitems {


        // &__cart {
        //     width: auto;
        //     height: 100px;
        // }

        // .artworks,
        // h2 {
        //     display: grid;
        //     grid-template-rows: 80px 80px;
        //     grid-template-columns: 1fr;




        &__hr {
            border: 3px solid black;
            height: 2px;
        }



        // &__carousel {
        //     padding-top: 50px;
        //     width: 401px !important;
        //     height: 443px !important;
        //     display: grid;
        //     padding-bottom: 50px;

        // &__text {
        //     font-size: 12px;

        //     &__textbody {
        //         font-size: 10px;
        //     }
        // }



        g button {
            background-color: black;

        }

        .carousel.carousel-slider .control-arrow {
            top: 0;
            color: black !important;
            font-size: 20px;
            bottom: 0;
            margin-top: 0;

        }

        .carousel.carousel-slider .control-arrow:hover {
            background: rgba(0, 0, 0, 0.2);
            background-color: transparent !important;
        }

        .carousel.carousel-slider {
            margin: 0;
            margin-top: 10px !important;
            overflow: hidden;
            height: 330px !important;
            width: auto !important;
            align-items: center !important;
            display: grid !important;
            justify-content: center;
            padding-bottom: 20px;
        }


        .carousel .thumb.selected,
        .carousel .thumb:hover {
            border: none !important;
            background-color: transparent !important;
        }

        .carousel .thumb:focus {
            border: none !important;
            outline: none !important;
        }

        .carousel .control-prev.control-arrow:before {
            border-right: 8px solid #181818 !important;

        }


        .carousel .thumb {

            display: inline-block;
            margin-right: 6px;
            white-space: nowrap;
            overflow: hidden;
            border: 3px solid #fff;
            padding: 2px;
        }

        .MuiSvgIcon-root .MuiSvgIcon-fontSizeMedium .css-i4bv87-MuiSvgIcon-root {
            height: auto;
            margin-right: auto;
        }

        .carousel .slider-wrapper {
            overflow: hidden;
            margin: 0px !important;
            width: 100%;
            transition: height .15s ease-in;
        }

        .carousel .carousel-status {

            top: 0;
            right: 0;
            padding: 5px;
            font-size: 10px;
            text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.9) !important;
            color: transparent !important;
        }

    }


    &__discounteditems {
        display: grid;
        height: 300px;
        grid-auto-rows: auto;
        width: auto;
        // hier is waar jy waas
        grid-template-columns: 50% auto;
        justify-content: center;
        padding-top: 40px;
        margin-top: 350px;

        &__featureitems {
            grid-template-columns: auto;
            text-align: center;

            .discount {

                justify-content: center;

            }

            .discounthr {
                border: 0.1px solid black;
                width: 150px;
            }


            &__carousel {
                width: auto;
                display: grid;
                padding-bottom: 50px;





                &__text {
                    font-size: 12px;

                    &__textbody {
                        font-size: 10px;
                    }
                }

                g button {
                    background-color: black;
                }

                .carousel.carousel-slider .control-arrow {
                    top: 0;
                    color: black !important;
                    font-size: 26px;
                    bottom: 0;
                    margin-top: 0;
                    padding: 5px;
                }

                .carousel.carousel-slider .control-arrow:hover {
                    background: rgba(0, 0, 0, 0.2);
                    background-color: transparent !important;
                }

                .carousel.carousel-slider {
                    margin: 0;

                    height: 50px !important;
                    width: auto !important;
                    align-items: center !important;
                    display: grid !important;
                    justify-content: center;
                    padding-bottom: 0px !important;
                }

                // margin: 0;
                // margin-top: 150px !important;
                // overflow: hidden;
                // height: 440px !important;
                // width: auto !important;
                // align-items: center !important;
                // display: grid !important;
                // justify-content: center;


                .carousel .control-next.control-arrow:before {
                    border-left: 8px solid #181818 !important;

                }

                .carousel .thumb.selected,
                .carousel .thumb:hover {
                    border: none !important;
                    background-color: transparent !important;
                }

                .carousel .thumb:focus {
                    border: none !important;
                    outline: none !important;
                }

                .carousel .control-prev.control-arrow:before {
                    border-right: 8px solid #181818 !important;

                }


                .carousel .thumb {

                    display: inline-block;
                    margin-right: 6px;
                    white-space: nowrap;
                    overflow: hidden;
                    border: 0px solid #fff;
                    padding: 2px;
                }

                .carousel .carousel-status {

                    top: 0;
                    right: 0;
                    padding: 5px;
                    font-size: 10px;
                    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.9) !important;
                    color: transparent !important;
                }

                .carousel {
                    display: none;
                }


            }
        }
    }

    .carousel .carousel-status {
        display: none !important;
    }

    .carousel .thumbs-wrapper {
        margin: -29px !important;
        overflow: hidden;
    }

    // .backtotop {
    //     padding-left: 30px;
    // }
}