.login {
    display: grid;
    place-items: center;

    &__inputform {
        display: grid;
        width: 300px;
        grid-gap: 32px;
        grid-template-columns: auto;
    }

    &__inputform-button {
        justify-self: center;
        max-width: 150px;
    }
}