.navbar {
    display: grid;

    &__toolbar {
        grid-row: auto;
        align-items: center;
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        justify-items: center;
        background-color: #202020;
        height: 140px;
        width: auto;

        &__links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 32px;
            margin-left: 150px;
        }

        &__icons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-left: 200px;
            color: #B6AF93;
            cursor: pointer;
            grid-gap: 18px;
        }

        &__name {
            color: #B6AF93;
            padding-left: 630px;
            margin-top: 80px;
            text-align: center;
        }

        &__logo {
            padding: 32px;

            &__img {
                height: 100px;
                background-size: contain;
                align-items: center;
                display: grid;
                margin-left: 40px;
                padding: 8px;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}